* {
  box-sizing: border-box;
}

body {
  font-family: Jost;
  width: 100%;
  margin: 0;
  padding: 8px;
  letter-spacing: 0.05em;
  color: #598de0;
  background: #1b1b1b;
}

.toast {
  font-size: 16px;
  position: fixed;
  right: 0;
  bottom: 8vh;
  left: 0;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  border-radius: 20px;
  color: #1b1b1b;
  background-color: #598de0;
}
