.headerContainer {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  min-width: 300px;
  max-width: 400px;
  height: 64px;
  margin: 0 auto;
  padding: 20px 12px 10px;
  border-bottom: solid 2px;
  align-items: center;
  color: #e6e6e6;
  border-color: #313131;
}

.totpCode {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.totpLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #9c9c9c;
  height: 2em;
  transition: 0.2s;
}

.totpLabelIssuer {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #9c9c9c;
}

.totpLabelAccountName {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #9c9c9c;
}

.totpContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.calculatorContainer {
  max-width: 400px;
  min-height: 20px;
  margin: 0 auto;
  padding: 24px;
}

.logout {
  position: fixed;
  right: 25px;
  bottom: 12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-size: contain;
}
